    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About BSidesLuanda</h2>
                <p>Security BSidesLDA is a regional Security B-Sides held in Luanda. It operates under the umbrella principles of Security B-Sides as a larger community project within information security.Each Security B-Sides is a community-driven framework for building events for, and by, information security practitioners.The goal is to expand the spectrum of conversation beyond the traditional confines of space and time. It creates opportunities for individuals to both present and participate in an intimate atmosphere that encourages collaboration. It is an intense event with discussions, demos, and interaction from participants. It is where conversations for the next-big-thing are happening.</p>
                <p></p>
                 <li class="mix Graphic">
                    <a href="#">
                      <img src="{{ site.baseurl }}/images/logo.png" width="400" height="131" alt="">
                    </a>
                  </li>
            </div>
        </div>
    </section>