    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>The BSidesLuanda is brought to you by<a href="https://bsides.org/w/page/126728618/BSidesLuanda"> a great team</a> passionate with experience exchange.</p>
                <p>Security BSides Luanda is a Information Security event "..from the community, for the community"! If you would like to participate in our efforts to bring this event in Luanda, just express your interest by sending us an email. People who would like to volunteer can send an email to the staff email.<a href="https://bsides.org/w/page/126728618/BSidesLuanda"> We welcome your help,</a> contribution and participation. Stay tuned!.</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section> 